<div id="player-create-form">
    <a
        href="/scatty"
        hx-get="/scatty"
        hx-swap="outerHTML"
        hx-target="#player-create-form"
        hx-replace-url="true"
    >Back To Room List</a>

    <form
        hx-get="/scatty/enter-room/{s}"
        hx-swap="outerHTML"
        hx-target="#player-create-form"
        hx-push-url="/scatty/rooms/{s}"
    >
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br>
        <button type="submit">Enter</button>
    </form>
</div>
